$main_font: 'Poppins', sans-serif;
$footer_another_font: 'Jost', sans-serif;
$main_font_color: #000;
$button_font: 'Poppins', sans-serif;
$footer_bg: #000;
$social_icons_color:#fff;
$contactinfo_font_color:#fff;
$table_borer_color:rgba(0,0,0,0.2);
$border_twenty:rgba(0,0,0,0.2);
$seventyblack:rgba(0,0,0,0.7);
$seventywhite:rgba(255,255,255,0.7);
$sameboxHeadingsize:20px;
$viewallButtonSize:12px;
$documentlistFontSize:17px;
$documentlistParaFontSize:12px;
$sameboxNoticeboxh5:16px;
$sameboxNoticeboxpillFontSize:14px;
$noticebarpillSamebox1st:#F939A1;
$noticebarpillSamebox2nd:#FBD540;
$noticebarpillSamebox3rd:#40DFCD;
$noticebarpillFontSize:14px;
$noticebarpillFontColor:#fff;
$chartabsentcolor:#F939A1;
$chartpresentcolor:#40DFCD;
$chartlatecolor:#FBD540;
$chartlebeltextsize:14px;